/* Beers section*/
.grid-beers{
    display: grid;
    grid-template-columns: repeat(3,minmax(300px,493px));
    grid-gap: 50px;
    justify-content: center;
}
.beer-img{
    border-radius: 5px;
    width: 100%;
    height: inherit;
}
.beer-title{
    color: white;
    margin-left: 15px;
    margin-bottom: 0px;
    margin-top: 5px;
    font-family: 'Raleway', sans-serif;
}
.beer-text{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
.beer-data-child{
    margin: 0;
}
/*Seccion btn*/
.beer-section-center{
    display: flex;
    justify-content: center;
}
/*Bottons secction*/

.types-beers{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    justify-content: center;
}
.btns-beers{
    user-select: none;
    margin: 15px;
    cursor: pointer;
    height: 60px;
}
.btns-beers:hover .line-h{
    width: 100%;
    height: 2px;
    background-color: #FAB05B;
}
.btns-active .line-h{
    transition: 1s;
    box-shadow: 10px black;
    width: 100%;
    height: 2px;
    font-family: 'Raleway', sans-serif;
    background-color: #FAB05B;
}