/*? Grid Seccion */
body{
  margin: 0;
}
.grid {
    /* Grid display for simply desing */
    display: grid;
    width: 100vw;
    height: 100vh;
    /* Grid 3 rows,  2 columns */
    grid-template: 100px auto auto / auto auto;
    /* responsive desing */
    grid-template-areas: "header header"
                         "navbar content"
                         "navbar footer";
    /* justify-content: stretch;
    align-content: stretch; */
    
}
.grid-header{
  grid-area: header;
  background-color:#FAB05B;
  display: flex;
  justify-content: center;
  align-items: center;
  /* -webkit-box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.5); */
}
.grid-navbar{
  /* -webkit-box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.5); */
  grid-area: navbar;
  background-color: #181818;
}
.grid-content{
  overflow: auto;
  background-color: #211e1e;
  grid-area: content;
  /* -webkit-box-shadow: -5px -5px 18px -9px rgba(0,0,0,0.48);
  -moz-box-shadow: -5px -5px 18px -9px rgba(0,0,0,0.48);
  box-shadow: -5px -5px 18px -9px rgba(0,0,0,0.48); */
} 
.grid-footer{
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  background-color: #2e2e2e;
  grid-area: footer;
}
.title-header{
  font-family: 'Raleway', sans-serif;
}
