.img-logo{
    height: 300px;
    border-radius: 10px;
}
.container{
    display: inline-flex;
    justify-content: center;
    /* align-content: center; */
    margin: 100px 100px 43px 125px;
}
.text-home{
    color: white;
    text-align: justify;
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Source Sans Pro', sans-serif; */
}
.title-home{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
}
.div-somos{
    margin-left: 20px;
}