@import url('https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro&display=swap');
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?a3l5kg');
  src:  url('../fonts/icomoon.eot?a3l5kg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?a3l5kg') format('truetype'),
    url('../fonts/icomoon.woff?a3l5kg') format('woff'),
    url('../fonts/icomoon.svg?a3l5kg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e902";
}
.icon-images:before {
  content: "\e90e";
}
.icon-beer:before {
  content: "\e9a1";
}
.icon-mail:before {
  content: "\ea84";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-github:before {
  content: "\eab0";
}
