a{
    text-decoration: none;
    color: #181818;
}
.display-center-horizontal {
    display: grid;
    grid-template: auto auto auto auto / auto ;
    grid-template-areas: "home"
                         "beers"
                         "images"
                         "contact";
}
.grid-home{
    grid-area: home;
    display: flex;
    justify-content: center;
}
.grid-beer{
    grid-area: beers;
    display: flex;
    justify-content: center;
}
.grid-contact{
    grid-area: contact;
    display: flex;
    justify-content: center;
}
.grid-images{
    grid-area: images;
    display: flex;
    justify-content: center;
}
.nav-columns{
    width: 96px;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbar-display{
    display: flex;
    justify-content: center;
}
.text{
    color:white;
    text-align: center;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}
.icon-size{ 
    text-align: center;
    font-size: 40px;
    color: white;
}